@using ONLİNETİCARİOTOMASYON.Models.Sınıflar
@model List<Departman>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Adminsayfası.cshtml";
}

<table class="table table-bordered" style="margin-top:20px;">
    <tr>
        <th>ID</th>
        <th>Departman Adı</th>
        @if (User.IsInRole("a"))
        {

            <th>Sil</th>
            <th>Güncelle</th>
            <th>Detaylar</th>
        }
        </tr>
    @foreach (var k in Model)
    {
<tr>
    <td>
        @k.departmanid
    </td>
    <td>
        @k.departmanad
    </td>
    @if (User.IsInRole("a"))
    {

        <td><a href="/Departman/DepartmanSil/@k.departmanid" class="btn btn-danger">Sil</a></td>
        <td><a href="/Departman/DepartmanGetir/@k.departmanid" class="btn btn-danger">Güncelle</a></td>
        <td><a href="/Departman/DepartmanDetay/@k.departmanid" class="btn btn-success">Detaylar</a></td>
    }
    </tr>
    }
</table>
<a href="/Departman/DepartmanEkle/" class="btn btn-primary">Departman Ekle</a>

