@model ONLİNETİCARİOTOMASYON.Models.Sınıflar.Cari
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_CariLayout.cshtml";
}

<h2>Cari Panel Bilgisi</h2>

@using (Html.BeginForm("Index2","CariPanel",FormMethod.Post))
            {
<table class="table table-hover">
    <tr>
        <td>
            <label>Mail Adresi:@HttpContext.Current.User.Identity.Name</label>
        </td>
    </tr>
    <tr>
        <td>@Html.TextBoxFor(x => x.cariad, new { @class = "form-method" })</td>
    </tr>
    <tr>
        <td>@Html.TextBoxFor(x => x.carisoyad, new { @class = "form-method" })</td>
    </tr>
    <tr>
        <td>@Html.TextBoxFor(x => x.carisehir, new { @class = "form-method" })</td>
    </tr>
    <tr>
        <td>@Html.TextBoxFor(x => x.sifre, new { @class = "form-method" })</td>
    </tr>
</table>
<button class="btn btn-warning">Bigilerimi Güncelle</button>
            }